<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GraphAnalyser/src/main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc}\GraphAnalyser\src\NewGraph.txt&#13;&#10;${workspace_loc}\GraphAnalyser\src\OldGraph.txt&#13;&#10;${workspace_loc}\GraphAnalyser\src\mytestgraph.txt&#13;&#10;${workspace_loc}\GraphAnalyser\src\diviseAlgo.txt&#13;&#10;${workspace_loc}\GraphAnalyser\src\diviseAlgo2.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GraphAnalyser"/>
</launchConfiguration>
